@charset "utf-8";

/* main_visual💛💛 */ /* width 값을 px로 지정해주면 화면 크기가 바뀌었을때 작업물들의 크기가 변경됨 width 값 px로지정 하지 않기   */
.main_visual{
    height: 295px;
    border-radius: 0 0 70px 70px;
    box-shadow: 0 4px 45px rgba(0, 0, 0, 0.25);
    position: relative;
}
.main_visual figure{
    width: calc(100% - 40px);
    height: 110px;
    border-radius: 55px;
    overflow: hidden;
    position: absolute;
    left: 20px;
    bottom: 20px;
}
.main_visual figure img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* cont01 😏😏😏😏😏 */
.cont01{
    padding-top: 60px;
}
.cont01 .list{
    display: flex;
    justify-content: space-between;
}
.cont01 .list .item{
    width: calc(100% / 4 - 10px);
}
.cont01 .list .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.cont01 .list .item figure{
    height: 160px;  /* 높이값을 고정시킬지 안할지는 자유 */
    border-radius: 10px;
    overflow: hidden;
}
.cont01 p{
    font-size: 14px;
    margin-top: 10px;
}
.cont01 h3{
    font-weight: 700;
}

/* cont02 🤑🤑🤑 */
.cont02{
    padding-top: 50px;
}
.cont02 .list{
    height: 160px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    padding: 0 20px;
    margin: 0 auto;
}
.cont02 .list figure{
    width: 102px;
    width: 124px;
    border-radius: 10px;
    overflow: hidden;
    margin-right: 11px;
}
.cont02 .list figure img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.cont02 .list .info p{
    font-size: 14px;
    margin: 3px 0 5px;
    color: #A7A7A7;
}
.cont02 .list .info div span{
    font-size: 14px;
}
.cont02 h3{
    font-weight:  700;
}

/* 뷰포트 430px 이하일때 .cont01 .list .item중에서 마지막에 있는 item삭제,
width 값 3등분 간격 10px씩  */
@media screen and (max-width: 430px) {
    .cont01 .list .item:nth-child(4){
        display: none;
    }
    .cont01 .list .item{
        width: calc(100% / 3 - 10px);
    }
}